.gradient {
  background: #FF4E50;
  background: -webkit-linear-gradient(#FF4E50 , #F9D423);
  background: linear-gradient(#FF4E50 , #F9D423);
}

.foot-color {
  background-color: #FFEA94;
}

.pri-color  {
  background-color: #FF4E50;
}

.sec-color  {
  background-color: #F9D423;
}

.hover-bg:hover,
.hover-bg:focus {
  background-color: #333;
}
